*{
	box-sizing: border-box;
	font-family: Roboto;
}

nav{
	height: 50px;
	background-color: tan;
	text-align: right;
	position: fixed;
	width: 100%;
	top: 0;
}

.home{
	position: absolute;
	left: 15px;
	
}

ul{
	list-style-type: none;
	padding-left: 0;
}

.nav-list{
	display: inline-block;
	margin-right: 15px;
}

.main-container{
	margin-top: 150px;
	width: 600px;
	margin-left: 100px;
	
}

.search-jobs{
	display: block;
}

.search-input{
	width: 80%;
	height: 25px;
	position: relative;
	border: none;
}

img{
	width: 25px;
}

button{
	float: right;
	position: absolute;
	border: none;
	height: 25px;
}

.lower-nav{
	margin-top: 40px;
	margin-left: 100px;
	padding: 8px, 25px;
	position: 
}

.current, .previous, .next{
	border: 1px solid black;
	float: left;
	padding: 8px 25px;
}

.other-jobs{
	clear: both;
	margin-left: 100px;
	padding-left: 0;
}


.jobs{
	position: relative;
	top: 80px;
	margin-top: 10px;
}