*{
	box-sizing: border-box;
	font-family: Roboto;
}

nav{
	height: 50px;
	background-color: white;
	text-align: right;
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 1px solid #DDDDDD;
}

.home{
	position: absolute;
	left: 15px;	
	color: initial;

}

ul{
	list-style-type: none;
	padding-left: 0;
}

.nav-list{
	display: inline-block;
	margin-right: 15px;
}

.main-container{
	margin-top: 100px;
	width: 600px;
	margin-left: 100px;
	
}

.search-jobs{
	display: block;
}

.search-input{
	width: 80%;
	height: 35px;
	position: relative;
	border: 1px solid #DDDDDD;
	padding-left: 10px;
}

img{
	width: 35px;
	height: 35px;
	padding: 2px 6px 3px 6px;
	vertical-align: bottom;
}

button{
	float: right;
	position: absolute;
	height: 37px;
	border: 1px solid #DDDDDD;
}

.lower-nav{
	margin-top: 30px;
	margin-left: 100px;
	padding: 8px, 25px;
}

.current, .previous, .next{
	border: 1px solid #DDDDDD;
	float: left;
	padding: 8px 25px;
}

.other-jobs{
	clear: both;
	margin-left: 100px;
	padding-left: 0;
}


.listing{
	position: relative;
	top: 50px;
	margin-top: 15px;
	color: #999
}

a:hover{
	text-decoration: underline;
}

a{
	text-decoration: none;
}

.jobs{
	margin-left: 8px;
	margin-right: 8px;
	font-weight: 700;
}