nav{
	height: 50px;
	background-color: tan;
	text-align: right;
	position: fixed;
	width: 100%;
	top: 0;
}

.home{
	position: absolute;
	left: 15px;
	
}

ul{
	list-style-type: none;
}

.nav-list{
	display: inline-block;
	margin-right: 15px;
}

.main-container{
	margin-top: 150px;
	width: 600px;
	margin-left: 100px;
	border: solid 1px black;
}

.search-jobs{
	display: block;
}

.search-input{
	width: 80%;
	position: relative;
	border: none;
}

img{
	width: 25px;
}

button{
	float: right;
	position: absolute;
	border: none;
}
