*{
	box-sizing: border-box;
}
nav{
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	position: fixed;
	width: 100%;
	height: 50px;
}

img{
	height: 80px;
}

img, ul, li{
	display: inline-block;
	vertical-align: middle;
}
